@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.footer {
  height: 64px;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  
  
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
  z-index: 100; 
}

.footer-left img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.footer-center {
  display: flex;
  gap: 24px;
}

.footer-center a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.footer-right p {
  font-size: 12px;
  color: #fff;
  margin: 0;
}